body {
	@include transition( left .25s ease-in-out );

	position: relative;
	left: 0;

	&.basic {
		color: #444;
		font-family: PT Sans, sans-serif;
	}
}

/* =Header
-------------------------------------------------------------- */
#header-wrap {
	padding-top: 40px;

	.home & {
		height: 550px;

		@include breakpoint(tablet) {
			height: 490px;
		}
	}

	@include breakpoint(tablet) {
		padding: 0;
	}
}

#header {
	.left-header {
		margin: 0 0 60px;
		padding: 0 20px;

		.basic & {
			margin: 0;
		}

		@include breakpoint(tablet) {
			margin: 0 0 20px !important;
		}
	}

	.right-header {
		padding: 0 20px;

		@include breakpoint(tablet) {
			margin: 0;
		}
	}
}

#site-title,
#site-logo {
	margin: 0;
	line-height: 1;
}

#site-logo {
	margin-bottom: 10px;
	display: block;
}

#site-title a {
	font-size: 72px;

	@include breakpoint(tablet) {
		font-size: 55px;
	}

	.basic & {
		font-family: Lobster, cursive;
	}
}

#site-title,
#site-description {
	@include header_text_shadow;
}

#site-description {
	margin: 0;
	font-size: 14px;
	line-height: 1;

	.basic & {
		font-family: Quicksand, sans-serif;
	}
}

#header-img {
	display: block;
}

/* =Main Navigation
-------------------------------------------------------------- */
.transparent,
.navbar {
	margin-top: 25px;

	@include breakpoint(tablet) {
		margin-top: 0;
	}

	.nav > li.sub-menu-parent.open > a {
		background-color: #e5e5e5;
		color: #555;
	}

}

.navbar-inner {
	float: right;
	margin-bottom: 60px;

	@include breakpoint(tablet) {
		padding: 0;
		@include border-radius(0);
	}
}

.navbar-inverse .nav > li.sub-menu-parent.open > a {
	background-color: #111;
	color: #fff;
}

.nav {
	padding: 0;
	margin: 0 !important;

	.transparent & > li > a {
		color: #fff;
		text-shadow: 0 0 5px black(0.6);

		&:hover {
			color: inherit;
			text-shadow: none;
		}
	}

	.transparent & > li.open > a {
		text-shadow: none;
	}

	li {
		a:not(:last-child):after {
			content: "\f0d7";
			font-family: FontAwesome;
			float: right;
			margin: 2px 0 0 10px;

			.basic & {
				content: "\f024";
			}
		}

		&.current-menu-item > a,
		&.current-menu-parent > a {
			color: #fff;
			text-shadow: none;
			background-color: #428bca;

			&:hover {
				color: #fff;
			}
		}

		li a:not(:last-child):after {
			content: "\f0da";
			margin: 2px 0 0 10px;

			.basic & {
				content: "\f026";
			}
		}
	}
}

.sub-menu-parent {
	position: relative;
}

.nav > li:last-child {
	.sub-menu {
		right: 0;
		left: auto;
	}

	> .sub-menu {
		&:before {
			right: 9px;
			left: auto;
		}

		&:after {
			right: 10px;
			left: auto;
		}
	}
}

.sub-menu {
	@include border-radius(4px);
	@include box-shadow( 0 6px 12px black(0.175) );

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-clip: padding-box;

	.open > & {
		display: block;
	}

	> li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.428571429;
		color: #333333;
		white-space: nowrap;
	}

	.nav > li > &:before {
		content: '';
		display: inline-block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: -7px;
		left: 9px;
	}

	.nav > li > &:after {
		content: '';
		display: inline-block;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
		position: absolute;
		top: -6px;
		left: 10px;
	}

	.sub-menu {
		@include border-radius(0 6px 6px 6px);

		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
	}
}

.sub-menu > li > a:hover,
li.sub-menu-parent.open > a {
	text-decoration: none;
	color: #fff;
	background-color: #0081c2;
}

/* =Mobile Navigation
-------------------------------------------------------------- */
#mobile-menu {
	background: #1b1b1b;
	display: none;
	padding: 5px 10px;
	border-bottom: 1px solid #000;
	margin: 0 -20px;

	@include breakpoint(tablet) {
		display: block;
	}

	a {
		@include box-shadow( inset 1px 1px 1px #000, 1px 1px 1px #333 );
		@include border-radius(8px);

		width: 45px;
		margin: 0 0 0 5px;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		font-size: 20px;
		color: #ffffff;
		background: #000;
		text-align: center;
		padding: 5px 0;

		&.left-menu {
			margin: 0 5px 0 0;
		}

		&:hover {
			background-color: #333;
		}
	}
}

.left-menu-open {
	position: relative;
	left: 260px;
}

#drop-down-search {
	@include box-shadow( 0 2px 2px black(0.4) );

	display: none;
	padding: 14px;
	background: #333;
	margin: 0 -20px;
	position: absolute;
	width: 100%;
	z-index: 10;

	.search-field {
		width: 100%;
	}

	.search-submit {
		display: none;
	}
}

.offcanvas {
	aside {
		padding: 0 10px;
	}

	.alert,
	.widget {
		margin: 30px 0 0;
		clear: both;
		float: left;
	}

	#site-navigation {
		li,
		ul ul {
			width: 100%;
			clear: both;
		}

		ul ul {
			@include box-shadow( none );

			position: static;
			opacity: 1;
			margin: 0;
			border: 0;

			li a {
				padding-left: 30px;

				&:after {
					border: 0;
				}
			}

			ul li a {
				padding-left: 50px;
			}

			&:before,
			&:after {
				border: 0;
			}
		}

		ul {
			padding: 0;
		}

		li {

			a {
				@include border-radius(0);

				background: #333;
				border-bottom: 1px solid #222;
				border-top: 1px solid #444;
				padding: 12px;
				color: #fff;
				display: block;
				font-size: 16px;
				text-transform: none;
				text-shadow: none;
				margin: 0;
				line-height: 1.428571429;

				&:hover {
					background: #444;
					color: #fff;
				}
			}

			li a:not(:last-child):after {
				content: "\f0d7";

				.basic & {
					content: "\f024";
				}
			}
		}

		.navbar-inner {
			border: 0;
			margin-bottom: 0;
		}
	}
}

.left-sidebar #secondary,
#left-nav {
	@include breakpoint(tablet) {
		position: absolute;
		top: 0;
		left: -260px;
		width: 260px;
		padding: 0 0 30px;
	}
}

/* =Carousel
-------------------------------------------------------------- */
#header-wrap {
	#myCarousel {
		padding: 0;
		height: 323px;

		@include breakpoint(tablet) {
			height: 284px;
		}
	}

	.carousel-caption {
		@include header_text_shadow;

		background: none;
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		padding: 0 20px;
		max-height: 245px;

		@include breakpoint(tablet) {
			max-height: 200px;
		}

		h1 {
			color: #fff;
			margin: 0 0 10px;
			font-size: 44px;

			@include breakpoint(tablet) {
				font-size: 38px;
			}

			@include breakpoint(phone) {
				font-size: 28px;
			}

			& a {
				color: #fff;
			}
		}

		p {
			font-size: 24px;
			line-height: 1.3;
			margin: 0 0 20px;
			padding-right: 20%;
		}

		.lead {
			@include breakpoint(tablet) {
				font-size: 18px;
				padding-right: 0;
			}

			@include breakpoint(phone) {
				font-size: 16px;
			}
		}
	}

	.carousel-control {
		top: auto;
		bottom: 15px;
		font-size: 24px;
		line-height: 1.5;

		&.left {
			left: 50%;
			margin-left: -50px;
		}

		&.right {
			right: 50%;
			margin-right: -50px;
		}
	}
}

.jumbotron {
	margin-bottom: 30px;
	text-align: center;

	.basic & {
		@include header_text_shadow;
		@include border-radius(12px);

		background: black(0.2);
		padding-bottom: 30px;
		color: #fff;

		@include breakpoint(tablet) {
			background: none;
			padding: 0 20px;
		}
	}

	@include breakpoint(tablet) {
		margin: 0;
	}

	h1 {
		font-size: 100px;
		line-height: 1;
		margin-top: 0;

		.basic & {
			@include header_text_shadow;

			margin-top: 20px;
			color: #fff;
		}

		@include breakpoint(desktop) {
			font-size: 80px;
		}

		@include breakpoint(tablet) {
			font-size: 70px;

			.basic & {
				font-size: 44px;
			}
		}
	}

	.lead {
		font-size: 24px;
		line-height: 1.25;

		@include breakpoint(tablet) {
			font-size: 20px;
		}
	}

	.btn {
		font-size: 21px;
		padding: 14px 24px;
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}

/* =Home Widgets
-------------------------------------------------------------- */
#home-page-widgets {
	@include breakpoint(tablet) {
		margin: 0;
	}
}

.home-widget {
	margin: 20px 0;
	text-align: center;

	@include breakpoint(tablet) {
		margin-bottom: 10px !important;
	}

	img {
		margin-top: 0;
	}
}

.home-widget-title {
	margin: 10px 0 5px;
	font-size: 28px;
}

/* =Main elements
-------------------------------------------------------------- */
#main {
	margin-top: 40px;
}

#primary {
	margin-bottom: 40px;

	&.centered {
		float: none !important;
		margin-left: auto;
		margin-right: auto;
	}
}

/* =Article
-------------------------------------------------------------- */
#featured {
	margin-bottom: 20px;
}

.blog-url {
	margin-bottom: 30px;

	.basic & {
		color: #333;;
	}
}

article {
	margin-bottom: 30px;
	float: left;
	width: 100%;
}

.entry-title {
	font-size: 44px;
	margin: 0;

	.basic &,
	.basic & a {
		font-family: Lato, sans-serif;
	}
}

.entry-meta {
	font-size: 13px;
	line-height: 1;
	margin-top: 5px;
	color: #666;

	.basic &,
	.basic & a {
		font-family: Lato, sans-serif;
		font-weight: 300;
	}

	a {
		color: #666;

		&:hover {
			color: #444;
		}
	}
}

.post-category,
.post-format {
	 i {
		margin-right: 5px;
		opacity: 0.9;
	}
}

.post-category,
.post-format,
.page-title {
	text-transform: uppercase;
	font-size: 14px;
	margin: 0;
	color: #666;
	margin-bottom: 3px;

	.basic &,
	.basic & a {
		font-family: Lato, sans-serif;
		font-weight: 300;
	}
}

.post-category a {
	color: #666;

	&:hover {
		color: #444;
	}
}

.entry-content {
	position: relative;
	width: 100%;
}

.more-link-p,
footer.entry {
	clear: both;

	.basic & a.btn {
		color: #fff;
	}
}

.pullquote {
	@include box-shadow( 0 1px 0 #eee, inset 0 1px 0 #eee );

	font-size: 21px;
	color: #444;
	font-weight: bold;
	line-height: 1.6125em;
	border: 0;
	padding: 0;
	margin: 1em 1.625em 1em 0;
	text-align: right;
	width: 33%;
	float: left;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;

	&.alignright {
		margin: 1em 0 1em 1.625em;
		text-align: left;
		float: right;
	}

	@include breakpoint(phone) {
		width: 100%;
		margin: 0 0 .5em 0;
		float: none;
		text-align: left;
	}
}

.columns {
	@include breakpoint(phone) {
		-webkit-column-count: 1 !important;
		-moz-column-count: 1 !important;
		column-count: 1 !important;
	}
}

/* =404
-------------------------------------------------------------- */
article.error404 {
	.entry-title,
	.entry-content {
		text-align: center;
	}

	.entry-title {
		font-size: 500%;

		@include breakpoint(phone) {
			font-size: 400%;
		}
	}

	.entry-content {
		font-size: 200%;
		line-height: 1.2;
		text-transform: uppercase;

		@include breakpoint(phone) {
			font-size: 150%;
		}
	}
}

/* =Aside
-------------------------------------------------------------- */
.format-aside p {
	margin-top: 0;
	}

/* =Quote
-------------------------------------------------------------- */
.format-quote {
	.entry-content {
		padding-left: 70px;
		font-style: italic;
	}

	blockquote,
	blockquote p {
		font-size: 36px;
		line-height: 1.2;
		margin: 0;
	}

	i.quote {
		color: #ccc;
		display: block;
		font-size: 60px;
		position: relative;
		float: left;
	}

	blockquote {
		border: 0;
		padding: 0;
		font-size: 18px;
	}

	cite {
		font-size: 24px;
	}
}

/* =Status
-------------------------------------------------------------- */
.format-status {
	.post-category {
		margin-bottom: 10px;
	}

	.avatar {
		float: left;
		margin: 0 17px 0 0;
	}

	.author {
		font-size: 18px;
		margin: 0;
	}

	.entry-content {
		padding-left: 77px;
		clear: none;
		display: inherit;

		p {
			margin-top: 0;
		}
	}

	time {
		font-size: 13px;
		color: #666;
		margin: 5px 0 10px;
		display: inline-block;
	}
}

/* =Link
-------------------------------------------------------------- */
.format-link {
	blockquote {
		margin-top: 0;
	}

	p {
		margin: 0;
	}

	footer.entry p {
		margin: 1em 0;
	}

	.entry-content a {
		font-size: 24px;
	}
}

/* =Gallery
-------------------------------------------------------------- */
.gallery {
	margin: 20px -20px;

	> p {
		margin: 0;
		height: 0;
	}
}

.gallery-item {
	margin-bottom: 20px;
	float: left;
	padding: 0 20px;

	.gallery-icon img {
		width: 100%;
	}

	.gallery-caption {
		padding: 10px 0;
		color: #444;
		clear: both;
		font-size: 12px;
		text-align: center;
	}

	.gallery-columns-1 & {width:100%}
	.gallery-columns-2 & {width:50%}
	.gallery-columns-3 & {width:33.33%}
	.gallery-columns-4 & {width:25%}
	.gallery-columns-5 & {width:20%}
	.gallery-columns-6 & {width:16.66%}
	.gallery-columns-7 & {width:14.28%}
	.gallery-columns-8 & {width:12.5%}
	.gallery-columns-9 & {width:11.11%}

	.gallery & {
		@include breakpoint(phone) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

/* =Tags
-------------------------------------------------------------- */
.tags {
	font-size: 14px;
	margin-bottom: 0;

	span {
		margin-right: 5px;
	}

	a {
		@include border-radius(4px);

		background: #eee;
		padding: 2px 6px;
		border: 1px solid #ddd;
		font-size: 90%;
		margin: 0 2px 5px 0;
		color: #666;
		display: inline-block;

		&:hover {
			background: #ddd;
		}
	}
}

/* =Pagination
-------------------------------------------------------------- */
#pagination,
#post-pagination {
	margin: 0 0 20px 0;
	clear: both;
    }

.btn.total-pages {
	margin-right: 10px;
	cursor: default;
}

.btn.special:hover,
.btn.special:active, {
    @include background-image( linear-gradient(to bottom, #FFFFFF, #E6E6E6 ) );
    @include transition( none );
    @include box-shadow( none );

    background-color: #F5F5F5;
    color: #333333;
    text-decoration: none;
    background-position: 0;
}

#posts-pagination {
	@extend #pagination;

	float: left;
	width: 100%;
	margin: 0 0 1em;

	line-height: 1.2;

	.previous,
	.next {
		max-width: 48%;
		font-size: 16px;
		word-break: break-word;

		.btn {
			text-align: left;
		}

		a {
			color: #000;
		}
	}

	.next .btn {
		text-align: right;
	}
}

/* =Comments
-------------------------------------------------------------- */
.comments-area {
	margin-top: 30px;
	clear: both;
	float: left;
	width: 100%;

	.commentlist,
	.children {
		list-style: none;
		padding: 0;
	}
}

.commentlist {
	.comment,
	.pingback {
		padding-bottom: 20px;
	}

	.comment {
		.avatar {
			float: left;
		}

		.comment-author,
		.comment-meta,
		.comment-text {
			padding-left: 75px;
		}

		.comment-author {
			font-size: 20px;
		}

		.comment-meta {
			font-size: 13px;
			color: #888;
			font-style: italic;
		}

		.comment-reply-link {
			@include border-radius(6px);

			padding: 6px 12px;
			font-size: 14px;
			color: #fff;
			margin: 0;
			background: #bbb;
		}
	}

	.children {
		margin: 20px 0 0;
		padding-left: 10px;

		> .comment {
			padding-left: 23px !important;
		}

		.comment {
			border-left: 1px solid #e6e6e6;
			position: relative;

			&:before {
				width: 12px;
				height: 12px;
				display: block;
				background: #fff;
				@include border-radius(12px);
				border: 1px solid #e6e6e6;
				position: absolute;
				top: 30px;
				left: -7px;
				content: "";
				z-index: 60;
			}

			&:after {
				width: 100px;
				height: 1px;
				border-top: 1px solid #e6e6e6;
				display: block;
				position: absolute;
				top: 36px;
				left: -5px;
				content: "";
				z-index: 50;
			}
		}
	}

	.comment-body {
		padding: 20px;
		background: #f2f2f2;
		border: 1px solid #e6e6e6;
		display: block;
		z-index: 100;
		position: relative;
	}

	.bypostauthor > .comment-body {
		border: 10px solid #ddd;
		}

	pre {
		background: #fff;
		border-color: #e6e6e6;
	}
}

#cancel-comment-reply-link {
	font-size: 14px;
	font-weight: normal;
	float: right;
}

#comment-nav-above,
#comment-nav-below {
	margin: 10px 0;
	overflow: hidden;

	.nav-previous,
	.nav-next {
		display: inline-block;
		width: 50%;
		float: left;
	}

	.nav-next {
		text-align: right;
	}
}

/* =Archives
-------------------------------------------------------------- */
#archive-header,
.page-title {
	margin: 0 0 30px;
	border-top: 2px solid #aaa;
	border-bottom: 1px solid #aaa;
	}

#archive-header {
	h1 {
		margin-bottom: 0;
		border: 0;
	}

	.archive-meta {
		color: #666;
		margin: 0;
		font-size: 14px;
		font-weight: normal;
		font-family: inherit;
		padding-bottom: 10px;

		p {
			margin: 0;
		}
	}
}

.page-title {
	font-size: 1.2em;
	padding: 10px 0;

	a {
		font-family: inherit;
	}
}

/* =Sidebar
-------------------------------------------------------------- */
.widget,
#secondary {
	margin-bottom: 30px;
}

.widget {
	width: 100%;
	font-size: 90%;

	.search-form {
		margin: 0 0 20px;

		.search-field {
			width: 100%;
		}

		.search-submit {
			display: none;
		}
	}

	.tagcloud {
		padding: 0 0 20px;
		text-align: center;
	}
}

.widget-title {
	font-size: 22px;
	margin: 0 0 10px;
}

.widget_rss {
	ul {
		list-style: none;
		padding: 0;

		li {
			padding-bottom: 15px;

			.rsswidget {
				font-size: 18px;
				line-height: 1.1;
				display: block;

				&:hover {
					margin: 0 !important;
				}
			}

			.rssSummary {
				margin-top: 5px;
			}

			.rss-date {
				font-size: 12px;
				color: #888;
			}

			cite {
				font-style: italic;
			}
		}
	}
}

/* =Footer Widgets
-------------------------------------------------------------- */
.line.active {
 	@include  grey_line;

	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.footer-widget {
	margin: 10px 0;

	#calendar_wrap {
		color: #444;
		text-shadow: none;

		caption {
			color: #fff;
			text-shadow: 1px 1px 0 #000;
			margin-bottom: 10px;
		}
	}

	ul {
		list-style: none;
		padding: 5px 0 0;

		li {
			margin-bottom: 5px;
		}
	}

	.widget-title {
	 	@include grey_line;

		padding: 10px 0 15px;
	}
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	border-top: 1px solid #e2e2e2;
	background: #eee;
	text-shadow: 1px 1px 0 #fff;
	color: #666;
	font-size: 13px;
	position: relative;
	z-index: 100;

	.row {
		margin-bottom: 0;
	}

	#footer-content {
		padding: 10px 0 5px;

		span {
			@include breakpoint(tablet) {
				display: block;
				float: none;
				text-align: center;
			}
		}

		.icon-leaf {
			@include breakpoint(tablet) {
				display: none;
			}
		}

		.copyright {
			@include breakpoint(tablet) {
				margin-bottom: 10px;
			}
		}
	}

	.credit-link {
		position: relative;
	}

	.icon-leaf {
		@include rotate(-5deg);

		font-size: 28px;
		position: absolute;
		top: -4px;
		left: -35px;
	}
}

/* =bbPress
-------------------------------------------------------------- */
#bbpress-forums .avatar {
	@include box-sizing( content-box );
}

.bbp-author-avatar {
	display: inline-block;

	img {
		margin-bottom: 0 !important;
	}
}